body {

    margin: 0px ;
    width: 100vw ; 
    height: 100vh ;
    overflow: auto;
}
#root {

    margin: 0px ;
    width: 100vw ; 
    height: 100vh ;
    overflow: auto;

    position: relative;
}









.div_app{

    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top:5% ;


    width: 950px;
    height: 600px;

    /* border: 1px solid rgb(220, 220, 220);
    border-radius: 15px; */

    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); */

    display: grid;
    grid-template-columns: 45% 51.5%;

}










.div_left_component{
    /* background-color: rgb(173, 213, 255); */
    position: relative;
    height: 100%;

}




.div_friend_list_component{
    background-color: rgb(140, 39, 39);

}
.div_friend_list_component ul{
    
    list-style: none;
    background-color: rgb(255, 255, 255);
}
.div_friend_list_component li{
    
    height: 70px;
    width: 350px;

    /* background-color: aquamarine; */
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: 55px 1fr 100px;

    border-radius: 5px;
}
.div_friend_list_component li:hover{
    
    background-color: rgb(255, 241, 223);
}


.li_div_img{

    display: flex;
    justify-content: center;
    align-items: center;
}
.img_friend {

    border-radius: 50px;
}


p {
    margin: 0;
}
.li_div_texts{

    margin-left: 7px;
    /* background-color: bisque; */
}
.friend_name {   
    margin-top: 12px;
    font-family: gilroy;
    font-weight: 700;
    font-size: 18px;
}
.payment_details {
    font-family: Arial;
    font-size: 15px;
    margin-top: 3px;
}



.li_div_button{

    display: flex;
    justify-content: center;
    align-items: center;
}
.li_button {

    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    
    font-family: gilroy;
    font-size: 13px;
    font-weight: 700;

    background-color: rgb(248, 184, 66);

}
.li_button:hover {

    background-color: rgb(246, 177, 49);
}
.li_button:active {

    background-color: rgb(226, 163, 47);
}









.div_adding_friend_component{
    background-color: rgb(194, 255, 255);

    position: relative;
}

.div_add_button {

    position: absolute;
    right: 48px;
}
.div_working{

    position: absolute;
    right: 36px;


}
.div_close_button{

    position: absolute;
    right: 48px;
    top: 195px;
}


.left_comp_btn {

    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    
    font-family: gilroy;
    font-size: 13px;
    font-weight: 700;

    background-color: rgb(248, 184, 66);

}
.left_comp_btn:hover {

    background-color: rgb(246, 177, 49);
}
.left_comp_btn:active {

    background-color: rgb(226, 163, 47);
}
.div_working{

    width: 330px ;
    height: 160px;
    background-color: rgb(255, 241, 223);
    border-radius: 10px;

    font-family: gilroy;
    padding: 10px;
    font-size: 18px;

}
.div_friend_name{

    width: 100%;
    /* background-color: aquamarine; */
    margin-bottom: 20px;
}
.inner_label{
    margin-right: 18px;
}
.label_img_url{
    margin-right: 34px;
}
.inner_input{

    border: none;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(255, 214, 139);

    width: 170px;

    outline: none;
    font-family: gilroy;

    padding-left: 5px;
    font-size: 17px;
     
}
.div_img_url{

    margin-bottom: 20px; 
        

}
.btn_add {

    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    
    font-family: gilroy;
    font-size: 13px;
    font-weight: 700;

    background-color: rgb(248, 184, 66);

}
.btn_add:hover {

    background-color: rgb(246, 177, 49);
}
.btn_add:active {

    background-color: rgb(226, 163, 47);
}
.div_final_add_btn{
    position: absolute;
    right: 30px;
}
.btn_add{
    width: 150px;
}










/* .div_right_component{

    background-color: aquamarine;

} */
.right_component_main_box{
    width: 520px;
    height: 400px;
    background-color: rgb(255, 241, 223);

    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.right_component_main_box_inner{

    width: 85%;
    height: 85%;
    /* background-color: rgb(176, 255, 255); */

    display: grid;
    grid-template-rows: 80px 1fr;

}
/* .div_upper{

    background-color: rgb(174, 174, 174);
} */
.text_split_bill{
    font-family: gilroy;
    font-weight: 700;
    font-size: 28px;

    margin-top: 4%;
}


.div_lower{
    /* background-color: rgb(181, 255, 107); */

    display: grid;
    grid-template-columns: 1fr 30%;

}


/* .div_lower_left{
    background-color: rgb(185, 255, 255);

} */

.div_lower_right{
    /* background-color: rgb(152, 180, 232); */
    width: 100%;

}
.input_lower_right{

    width: 96%;
    border: 1px solid rgb(255, 224, 168);
    height: 30px;
    border-radius: 3px;

    margin-bottom: 10px;

    font-family: gilroy;
    font-size: 17px;

    padding-left: 5px;

    outline: none;
}
.select_menu_lower_right{

    width: 100%;
    border: 1px solid rgb(255, 224, 168);
    height: 33px;
    border-radius: 3px;

    margin-bottom: 10px;

    padding-left: 45px;

    font-family: gilroy;

    outline: none;

}
.btn_split_bill {

    padding: 10px 42px;
    
    border: none;
    border-radius: 5px;

    cursor: pointer;
    
    font-family: gilroy;
    font-size: 13px;
    font-weight: 700;

    background-color: rgb(248, 184, 66);

    white-space: nowrap;

}
.btn_split_bill:hover {

    background-color: rgb(246, 177, 49);
}
.btn_split_bill:active {

    background-color: rgb(226, 163, 47);
}
.text_lower_right_first {
    margin-top: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20px;
}
.text_lower_right{
    margin-top: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20px;
}
















